#aboutme_text{
    color:#434343;
    font-size:20px;
    justify-content:space-between;
    align-items:center;
    padding-top:150px;
    max-width:700px;
    margin:auto;
}
h2{
    font-weight:bold;
    color:var(--primary);
    font-size:35px;
    max-width:280px;
    justify-content:center;
    margin:auto;
    transition:all 0.2s;

}
p{
    max-width:165px;
    justify-content:center;
    margin:auto;
    font-size:15px;
    

}

.text{
    color:#434343;
    font-size:17px;
    justify-content:center;
    align-items:center;
    max-width:700px;
    margin:auto;

}
